/* Global layout */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #121212;
  color: #f0f0f0;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: #4caf50; */
  display: inline-block;
  margin-right: 10px;
}
header {
  background-color: #191919;
  color: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 3px solid #6f6f6f80;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand h1 a {
  color: white;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-list li a:hover {
  text-decoration: underline;
}

/* Buttons */
.btn-submit {
  background-image: linear-gradient(135deg, #89f16f, #58cd8d);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-submit:hover {
  background-color: #69ae6b;
  text-decoration: none;
}

.btn-dashboard {
  background-image: linear-gradient(135deg, #89f16f, #58cd8d);
   color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.btn-dashboard:hover {
  opacity: 0.9;
}
